[2021-06-29 21:39] johndmulhausen opened #1 "[CONTENT] Client library reference"
A page should be created that show the core methods in some detail and describe the parameters, return values, etc.

[2021-06-30 21:58] johndmulhausen commented on #1
@johnnymatthews My vote is a single page for the whole library; it's only got a few methods after all

[2021-07-16 18:49] yusefnapora opened #15 "css: table row background is wonky"
This is showing up on the client library reference page in #10:

<img width="914" alt="Screen Shot 2021-07-16 at 2 40 31 PM" src="https://user-images.githubusercontent.com/678715/125994240-6a48c722-dad3-4d1a-953a-fdaed1f97515.png">

This is apparently coming from the vuepress default theme.

Adding this to `index.styl` seems to fix it:

[code]

[2021-07-16 19:07] #1 closed

[2021-07-16 20:30] #15 closed

[2021-07-17 01:18] jessicaschilling opened #18 "Style: make footer sticky to viewport bottom for short pages"
@zebateira, do you mind making sure that footers stick to the bottom of the page for "short" pages?
Thank you so much!

![image](https://user-images.githubusercontent.com/1507828/126021083-51524dac-2e13-4a30-bcd0-326c0268c3d2.png)

[2021-07-19 16:39] johnnymatthews opened #20 "Add tab-switcher component."
Filecoin docs has this super cool tab switcher component thingy:

![image](https://user-images.githubusercontent.com/9611008/126195764-fe0599c2-fe51-4439-a6f0-e48eb82365e7.png)

It's be super handy to have that component in this repo too.

[2021-07-19 20:02] #20 closed

[2021-07-20 09:26] #18 closed

[2021-07-20 16:57] yusefnapora opened #25 "Add "copy to clipboard" buttons"
On nft school we have lovely copy buttons on all our code blocks. Let's bring those here as well.

[2021-07-20 17:35] jessicaschilling commented on #25
@yusefnapora Are you able to do this? Afraid I wasn't involved in the NFT School implementation.

[2021-07-20 17:39] yusefnapora commented on #25
Sure, I can grab this

[2021-07-20 19:52] #25 closed

[2021-07-23 00:22] dchoi27 opened #42 "[PAGE ISSUE] Welcome"
Warning that uploaded data is publicly available comes too late:
![image](https://user-images.githubusercontent.com/11778450/126724495-49e2c4e2-227b-4cc2-bf93-72233b2e4f5d.png)

This should probably go in Step 5 in the previous section (`Create the upload script`) since that section tells users to upload their own arbitrary file

[2021-07-23 13:13] johnnymatthews commented on #42
Good catch! Yeah this was meant to be _way_ higher up. No idea why I thought this was a good place for it.

[2021-07-23 13:25] #42 closed

[2021-07-26 20:57] atopal opened #58 "Navigation Change"
In the left hand side navigation we start with a quick start guide and then jump to concepts. That's a big jump. People were more likely to continue with How-tos in the testing. We should move the concept section to below the "Reference section.

[2021-07-26 20:59] atopal opened #59 "package.json"
The package.json file in the quickstart guide has a specific author. During testing some people put their own names in, others left it as is. We might want to add something like "AUTHOR NAME", to clarify.

[2021-07-26 21:01] atopal opened #60 "Quickstart: Add info about multiple file upload"
During testing people were delighted to find out that you can upload multiple files with the getting started script. We should add a line to let people know about that feature.

[2021-07-26 21:04] atopal opened #61 "Call out getting a CID in the How-Tos"
None of the testers were able to figure out how to get a CID of the file without uploading it first. Most thought that that was not possible. We should have a "how-to" that covers how to do that.

[2021-07-26 21:12] atopal opened #62 "[Blocked by Docsearch response] Search only works for headers"
The search function on https://docs.web3.storage/ doesn't give any feedback. Clicking into it works, it's enlarged automatically, but no other feedback is given on entering a search term.

[2021-07-26 21:13] terichadbourne commented on #62
I believe this is a known issue and setup with Algolia can take place now that we're at the right domain. Is that correct @zebateira?

[2021-07-26 21:14] atopal opened #63 "Quickstart: script doesn't accept directories"
Code indicates that you can add directories, but that throws an error:

[code]

[2021-07-26 21:16] terichadbourne commented on #63
@yusefnapora @johnnymatthews  Do you already know how to fix this or do we need to call in the big guns?

[2021-07-26 21:16] terichadbourne commented on #61
Asking Spark team whether this is even possible. :)

[2021-07-26 21:17] terichadbourne commented on #60
@johnnymatthews Do you already know how this works? If so, could you please assign to yourself to call out that feature?

[2021-07-26 21:18] atopal opened #64 "Querying status doesn't work"
During testing none of the participants was able to query the status of a file programmatically. The status was always "undefined". It's not clear that that is an issue with the docs or the API. API issue here: https://github.com/web3-storage/web3.storage/issues/190

[2021-07-26 21:20] atopal opened #65 "How To: Add website info to query how-to"
You can get some of the status information from the files pages of the website. We should mention that in our docs.

[2021-07-26 21:25] terichadbourne commented on #65
@johnnymatthews do you have time to update the query how to to reflect this?

[2021-07-26 21:25] terichadbourne commented on #64
I've asked for more clarification from the Spark team in that other issues to point us to the right solution to document.

[2021-07-26 21:38] #58 closed

[2021-07-26 21:40] terichadbourne opened #67 "Implement banner directing to nft.storage"
Please match the banner now found at https://staging.web3.storage/

![image](https://user-images.githubusercontent.com/19171465/127062857-707d8033-656f-4113-909c-24c4887d0a02.png)

[2021-07-26 21:43] jessicaschilling commented on #62
![image](https://user-images.githubusercontent.com/1507828/127062957-cd281f45-8798-4401-909e-b19727bb1931.png)

The search technically works, but since it's not Algolia (it's OOTB Vuepress search) it only queries H1, H2 and (I believe) H3 content. For a small site, that can give the impression of not working.

We can implement Algolia **if we open-source the repo** - @zebateira has successfully do

[2021-07-26 21:43] jessicaschilling commented on #61
@atopal Just to clarify - do we know if this is enough of a use case to be a hard requirement for M1? I'm not sure where that task came from in Alan's list. We don't actually talk about this in either site.

[2021-07-26 21:45] jessicaschilling commented on #60
Is it just a matter of listing multiple instances of `filename` in this command?

![image](https://user-images.githubusercontent.com/1507828/127063251-ac453fb2-2b49-428b-9e54-abf0df6fca88.png)

[2021-07-26 21:45] jessicaschilling commented on #59
Note there are two instances where we list Vasco:
`/code-snippets/quickstart/package-example.json`
`/code-snippets/quickstart/package.json`
I assume we need to change both of these?

[2021-07-26 21:47] terichadbourne commented on #61
If they haven't uploaded the file and it's therefore not on the network
yet, what do they want to use the CID for? 😂

On Mon, Jul 26, 2021 at 5:44 PM Jessica Schilling ***@***.***>
wrote:

--
*Teri Chadbourne*
Project Lead & Web Developer, ProtoSchool <https://proto.school>
Protocol Labs <https://protocol.ai/>

Twitter <https://twitter.com/eventteri> | GitHub
<https://github.com/terichadbourne>

[2021-07-26 22:02] terichadbourne commented on #62
@zebateira have you already emailed the Algolia/DocSearch folks or would you like me to take that on while you work on other tasks?

[2021-07-26 22:14] terichadbourne opened #69 "[Blocked by main site prod] Link updates & checks, Countly review, etc."
- [x] Switch env var to reference the main prod site instead of main staging site
- [x] Test for broken links between sites
- [x] Change our readme to include links to main service - pr open #103
- [x] Confirm Countly is successfully pulling in production data from both sites
- [x] If repo switch public, reconfigure repo perms to remove any unnecessary access

[2021-07-26 22:17] terichadbourne opened #70 "How To: Draft "Generate API token" docs"
Page missing content: https://docs.web3.storage/how-tos/regenerate-api-token/
Slack thread: https://protocollabs.slack.com/archives/C01MB3VT34M/p1627065150141100

[2021-07-26 22:18] terichadbourne commented on #70
@johnnymatthews FYI that JV believes the token flow is as it will be

[2021-07-26 22:22] terichadbourne opened #71 "[merge blocked by spark] Rename "Profile" page to "Account" page"
- [x] Search for text references to Profile page and replace with references  to Account page.
- [x] Change urls in links from /profile to /account
- [x] DO NOT MERGE until Spark team executes change on their side.

[2021-07-26 22:36] jessicaschilling opened #72 "Quickstart: make prerequisites more obvious and add update instructions"
User testing participants didn't always see the prerequisites in the quickstart guide. Consider:
- [ ] Moving back into a scary red callout box
- [ ] ~~Adding notes on how to update node/npm versions both normally and using brew? (Could just be links to their docs)~~ Can't adequately accommodate the myriad of ways folks might have installed these

![image](https://user-images.githubusercontent.com

[2021-07-26 22:38] jessicaschilling opened #73 "Make more mentions of this being a free service overall"
User testing participants expressed doubts that this service would _really_ be free, and exist for a long period of time.

Consider adding more "free!" language to docs as appropriate, and linking that language out to the main site's TOS page.

[2021-07-26 22:43] jessicaschilling opened #74 "Quickstart: indicate in intro that you don't have to use node"
User testing participants experienced some friction in reading the quickstart if they weren't experienced JS/Node users:
- "can I just call the API from something else?"
- "can I do this from the website?"

Consider adding language near the prerequisites section along the following lines: "This quickstart guide uses Node since it's so popular, but don't worry if that's not your primary way to get

[2021-07-26 22:45] jessicaschilling opened #75 "How To: Add link to web UI from storage how-to"
Consider replacing the final sentence in the screenshot with something that indicates there's a web UI, too, e.g. "This guide focuses on the JavaScript client library, which is the simplest way to use Web3.Storage programmatically. If you just want to quickly upload a single file, you may wish to simply use the upload function on your (link) Web3.Storage files page."

![image](https://user-images.

[2021-07-26 22:47] jessicaschilling opened #76 "How To: Clarify browser retrieval as an option in retrieval how-to"
Some user testing respondents wondered if in-browser gateway view should get better play on the retrieval how-to, since it's so simple.
- [x] Consider moving it to the first item in this list
- [x] Either way, change text to "In your browser via an HTTP gateway."
![image](https://user-images.githubusercontent.com/1507828/127068756-33b8f505-281c-4756-bb5c-1e68501868ed.png)

[2021-07-27 01:46] terichadbourne commented on #74
Like this idea but might rephrase a bit to say Node is the fastest way to get set up to use the Web3.Storage JS Client programmatically, but you can reference the How to for nodeless options. If you want to skip the programming you can upload and retrieve files directly through the UI. (Not real sentences, just suggesting getting the most like things (programmatic ones) together.)

[2021-07-27 01:54] terichadbourne opened #77 "ELSEWHERE: Inbound linking from IPFS docs"
## Acceptance Criteria

- [x]  A section about Filecoin and [Web3.Storage](http://web3.Storage) to the [persistence section](https://docs.ipfs.io/concepts/persistence/#persistence-versus-permanence) in IPFS Docs.  Per Pooja: "Decentralized storage isn’t a pinning service, exactly, so would be great to have a separate section about this, mention Filecoin as an option, and web3.storage as an easy wa

[2021-07-27 02:04] terichadbourne opened #78 "[TAKE 2 🤦‍♀️ ] ELSEWHERE: Inbound linking from Filecoin docs"
## Acceptance Criteria

- [x]  When they hit the specified pages on docs.filecoin.io, users who want to store files (app devs, not miners or aggregators) see a clear indicator above the fold that [web3.storage](http://web3.storage) is the recommended pathway for them and immediately follow a link to web3.storage
- [x]  Callouts to **divert app developers to [Web3.Storage](http://web3.Storage)** wh

[2021-07-27 02:34] terichadbourne commented on #61
Okay, I'm understanding this one much better thanks to our Slack thread.

We asked users to do this task because Alan suggested it; they didn’t try it themselves out of a specific curiosity. And the solution was to go to https://docs.web3.storage/reference/client-library/#store-files and find the `onRootCidReady` parameter for the `put` method. Because of the way the reference docs are structured,

[2021-07-27 02:46] terichadbourne opened #79 "Design: Update logo"
Update logo throughout site to match latest file from MM shared as a zip in web3-storage slack channel https://protocollabs.slack.com/archives/C02750576C8/p1627337582346100

[2021-07-27 02:50] terichadbourne opened #80 "[Blocked by design team] Update social card artwork"
Wait until MM makes another edit and ER approves as final, then...

- [ ] Update social card on our site
- [ ] Open an issue or PR on main site to ensure it's flagged for Raf

Comment 206 on Figma: https://www.figma.com/file/826Zurcs6kgWSzQ35it966?node-id=1988:566#96827519

[2021-07-27 03:04] terichadbourne opened #81 "Quickstart: Start-to-finish test"
Someone w/ JS skills who hasn't gone through the Quickstart before should be able to follow the steps start to finish without blockers or major questions.

Be sure to use same server for storing and retrieving/querying. Query doesn't currently say to use the staging server but rest does so you won't be able to query unless you query staging server.   See #64

[2021-07-27 03:05] terichadbourne opened #82 "How To: Start-to-finish test (Thu AM)"
JS Dev who hasn't been through it before should be able to follow all steps described in store, retrieve and query how to sections with no tech blockers or major questions.

[2021-07-27 03:14] terichadbourne opened #83 "Countly setup"
(Just copying over from Notion card so we can track here instead)

## Acceptance Criteria

- [x]  Analytics are being populated on Countly
    - [x]  Docs #6
    - [x]  Main Website (PR here: https://github.com/web3-storage/web3.storage/pull/126)
- [x]  Custom events tracked:
    - [x]  Docs
        - [x]  "Did you find this helpful?" button clicks (helpful/not helpful by page)
        - [x]  Most

[2021-07-27 03:16] jessicaschilling commented on #79
Am honestly struggling to see what's different here - or if there's something different in the construction of the SVG itself. What detail am I missing?

[2021-07-27 03:22] terichadbourne opened #84 "Launch coordination tasks / final checks"
Copied this over from the Notion card. @jessicaschilling @zebateira mind taking a look through to see if there's anything else already done or that you prefer to track in separate issues? Thanks!

## Acceptance Criteria

- [x]  Docs site DNS setup to point to [docs.web3.storage](http://docs.web3.storage)
- [x]  It launches at the same time as rest of website - meh, close enough
- [x]  All links be

[2021-07-27 03:25] jessicaschilling commented on #84
Maybe combine this issue with #69?

[2021-07-27 03:29] terichadbourne opened #85 "ELSEWHERE: Image gallery sample app"
Flagging here so we can see all of the team's tasks in one place, but work will happen in the repo https://github.com/web3-storage/example-image-gallery

Will get done if we can for M1 but okay to roll into M2. We won't have a talk or tutorial based on this sample app ready for M1.

Detailed brainstorming/planning notes here: https://www.notion.so/protocollabs/Tutorial-Example-Ideas-f2a0f15a93a241

[2021-07-27 03:54] terichadbourne opened #86 "Update screenshots throughout site"
Update screenshots throughout site for following:

- [x] All screenshots: remove `staging` from URL bar
- [x] All screenshots: make sure `Profile` top nav item reads `Account`
- [x] All screenshots: if tokens are visible, scramble them
- [x] https://docs.web3.storage/#finding-your-files-again - to account for changes to table format (blocked by https://github.com/web3-storage/web3.storage/issues/1

[2021-07-27 05:53] alanshaw commented on #61
They are the same CID. It's for two reasons:

1. Enables a trustless system whereby the user can verify the system is operating correctly. The CID is not generated by web3.storage, but by the client. So the client knows that the CID corresponds to the data they want to upload.
2. Enables workflows where the CID is needed before the upload is complete. For example it could be sent to be stored in a

[2021-07-27 08:23] zebateira commented on #62
@terichadbourne Just sent the request 👍

[2021-07-27 08:34] olizilla opened #87 "How To: Update query code b/c `undefined` and `null` are different"
In https://github.com/web3-storage/docs/blob/main/docs/how-tos/query.md#querying-for-status-information we recommend checking for `null`, but the api will return `undefined` in the case where there the cid provided is not a root cid for content that has been uploaded to web3.storage

The warning asks the user to check for `null` rather than `undefined` and the code sample does a loose equality che

[2021-07-27 08:38] olizilla commented on #87
it also feels slightly misleading to put a guard around a console.log, as you'd really want to log the status regardless of it's shape, so you can see when it's undefined in your console. I get that it was chose as a place holder for "your code goes here" but we want beginners to know it's ok to log the output of status regardless.

Perhaps
[code]

[2021-07-27 11:39] alanshaw commented on #64
https://github.com/web3-storage/web3.storage/issues/190#issuecomment-887438952

[2021-07-27 12:15] atopal commented on #61
I don't know about the first use case, but I'm assuming the second one might become quite common, especially with larger files.

[2021-07-27 12:18] atopal commented on #62
To be clear, the search was not working at all. There was no action beyond enlarging the text field, but it seems fine now. Let's keep this issue for Algolia Search then :)

[2021-07-27 13:23] atopal commented on #64
Looks like this was because of issues with staging/production. Closing for now.

[2021-07-27 13:40] terichadbourne commented on #87
Thanks for the feedback and suggested replacement @olizilla!

[2021-07-27 13:54] terichadbourne commented on #64
Re-opening this one with a new name to ensure we get the references currently pointing to the staging API to point to the prod API once the main site and API are both live.

[2021-07-27 14:36] yusefnapora commented on #61
I can add something to the storage how-to showing how to use the progress callbacks. We could show a little example of using `onRootCidReady` and `onChunkStored` to update a status message with the CID and % complete.

[2021-07-27 14:37] atopal commented on #61
Yes, that's a great idea!

[2021-07-27 15:31] #87 closed

[2021-07-27 15:39] #67 closed

[2021-07-27 15:52] terichadbourne opened #91 "TBC: Set up Google Search Console for both sites"
Do we need to add this to Google Search Console? (check with Andy?)

Asking JV if he's kicked this off in https://protocollabs.slack.com/archives/C02750576C8/p1627401050376900

[2021-07-27 15:54] terichadbourne commented on #84
Cool, accounting for these all elsewhere

[2021-07-27 15:54] #84 closed

[2021-07-27 15:54] johnnymatthews commented on #65
Sure.

[2021-07-27 16:10] alanshaw commented on #64
Better to remove staging API URLs from docs rather than change - https://api.web3.storage is the default and setting it is something regular users will never need to do. It's just noise in the docs.

i.e.

[code]

Changes back to :

[code]

[2021-07-27 16:13] jessicaschilling commented on #91
Per @jnthnvctr, opened an IT request for @andrewschwab for this.

[2021-07-27 16:19] #79 closed

[2021-07-27 16:43] jessicaschilling commented on #76
@terichadbourne - #93 fixes this and is out for your review. Please merge if OK!

[2021-07-27 16:52] #81 closed

[2021-07-27 16:53] jessicaschilling commented on #59
@terichadbourne @atopal https://github.com/web3-storage/docs/pull/94 fixes this. Can one of you please review and merge if OK?

[2021-07-27 16:58] yusefnapora opened #95 "how-to: add context to examples for easier copy/paste, etc"
On review, several of the how-to examples assume knowledge of things like "you need to be inside of an `async` function to `await` things".

Things we can do to make the how-to more accessible and easier to copy/paste from:

- [x] make all uses of `await` occur inside of an `async` function
- [x] wrap the client creation code in a function, so we can refer to it elsewhere on the page
- [ ] maybe:

[2021-07-27 17:07] terichadbourne commented on #64
Thanks for the note, @alanshaw. I think we have to leave the staging API in there for now because we have more internal folks testing this week. Or am I wrong in my assumption that the prod website will generate tokens that work on the prod API and the staging site generates tokens that work on staging API?

[2021-07-27 17:14] #59 closed

[2021-07-27 17:21] atopal commented on #64
The testing instructions tell people that they have to change to the staging API. We should be able to update our docs.

[2021-07-27 17:24] terichadbourne commented on #70
@johnnymatthews
Are these discrepancies between the quickstart and how to versions intentional?

- Only quickstart says to keep token safe
- Only quickstart says to copy token
- Only how to suggests using a different token for each app you build

[2021-07-27 17:33] terichadbourne commented on #76
@jessicaschilling is it intentional that we don't mention web3.storage/files as an option for retrieval? Otherwise this looks good!

[2021-07-27 17:39] johnnymatthews commented on #77
[Here's the working PR](https://github.com/ipfs/ipfs-docs/pull/847) that contains this content.

[2021-07-27 17:42] jessicaschilling commented on #76
@terichadbourne Good catch. I think the simplest way to do this is add it as a tip box, because we need to qualify that this only works for files you've uploaded (because that means they show on your Files page):
![image](https://user-images.githubusercontent.com/1507828/127193861-6654067e-fae3-42c3-aa45-8fd0ce628879.png)

[2021-07-27 19:08] #65 closed

[2021-07-27 19:45] #60 closed

[2021-07-27 19:55] yusefnapora commented on #63
I can't seem to reproduce this...

[code]

[gateway link](https://bafybeibskwkgomc6rmrmipijw2fzqzganfxcuyneq33oq35mwithaqchdi.ipfs.dweb.link/)

@atopal does it always fail for you with directories?

[2021-07-27 19:59] yusefnapora commented on #63
I did get a "too many open files" error when I tried uploading a random `node_modules` folder, but that looked different than the error shown above. Maybe the current directory is too big (possible because of a `node_modules` dir) and it's running out of memory?

[2021-07-27 20:10] #76 closed

[2021-07-27 22:22] jessicaschilling commented on #75
Closed by https://github.com/web3-storage/docs/pull/99.

[2021-07-27 22:22] #75 closed

[2021-07-28 13:36] jessicaschilling commented on #61
@atopal @alanshaw @terichadbourne can you please review at your earliest?

[2021-07-28 13:38] jessicaschilling commented on #62
@zebateira, what's the plan if Algolia approves while you're away? It's easy enough for someone else on the team to add to the code, since we have other examples in situ - we would just need the token.

[2021-07-28 13:39] #70 closed

[2021-07-28 13:39] jessicaschilling commented on #71
@terichadbourne any word?

[2021-07-28 13:41] zebateira commented on #62
ah no worries, I'll keep an eye on my email and forward it 👍

[2021-07-28 13:53] #61 closed

[2021-07-28 13:57] terichadbourne commented on #71
Switch is slated to happen but not done yet on the other side. Let’s prep a
PR and wait to merge until Spark makes the change.

On Wed, Jul 28, 2021 at 9:40 AM Jessica Schilling ***@***.***>
wrote:

--
*Teri Chadbourne*
Project Lead & Web Developer, ProtoSchool <https://proto.school>
Protocol Labs <https://protocol.ai/>

Twitter <https://twitter.com/eventteri> | GitHub
<https://github.com/terichad

[2021-07-28 14:10] terichadbourne commented on #78
@johndmulhausen Can you please point from this issue to your work in progress on the Filecoin docs site?

[2021-07-28 14:54] johnnymatthews commented on #77
[PR is now ready for review](https://github.com/ipfs/ipfs-docs/pull/847)

[2021-07-28 15:25] terichadbourne commented on #64
We can create a PR for this one now, but DO NOT MERGE until both main site and standard API are live.

[2021-07-28 15:33] terichadbourne commented on #69
I'm going to tackle the env variable now to make links work and leave the rest of this checklist here.

[2021-07-28 15:40] terichadbourne commented on #64
Believe this is now fully addressed by #101

[2021-07-28 16:27] jessicaschilling commented on #64
Confirmed that #101 closes this.

[2021-07-28 16:34] terichadbourne commented on #86
NOW UNBLOCKED. I think we may have files page screenshots in two spots now, so need to **check throughout.** The files page is now functioning as intended except that it's not meant to go super wide, so **please keep your browser to the width of normal site content when screenshotting.**

[2021-07-28 16:45] terichadbourne commented on #69
@jessicaschilling or @zebateira Would one of you have time to explore the remaining items here? I'm honestly not sure what the last one meant to say since there's a grammar bug.

We are already in a public repo, and if we're removing any access from ourselves we'd do it after launch I'd think.

[2021-07-28 16:56] jessicaschilling commented on #69
@terichadbourne That last item made sense in the original checklist but not excerpted in this one: was just to make sure that we didn't have any perms granted to people simply because it was a private repo and we needed to give someone one-off visibility. TLDR: it's fine.

[2021-07-28 16:58] jessicaschilling commented on #69
NOTE: this is blocked until ...
- the Account/Profile switch gets implemented on the main site
- Countly gets set up on main site per https://github.com/web3-storage/docs/issues/83

[2021-07-28 17:00] terichadbourne commented on #63
@yusefnapora Perhaps you could check the user testing vid if @atopal doesn't recall? Or perhaps @jessicaschilling recalls?

[2021-07-28 17:04] terichadbourne commented on #74
@johnnymatthews Do you want to do this in the same PR as #72? If not I can reassign this to someone else to tackle separately.

[2021-07-28 17:09] terichadbourne commented on #83
@zebateira Noticed you moved this to "review in progress" - do you have any PRs you need us to look at for you or other tasks you need help with?

[2021-07-28 17:16] zebateira commented on #83
@terichadbourne no. The [PR to add countly to the main website](https://github.com/web3-storage/web3.storage/pull/126) is awaiting review, that's why I moved this issue to review. Or do you want to move it to review only when someone from our team reviews everything on countly?

[2021-07-28 17:17] jessicaschilling commented on #74
@terichadbourne I'll grab it.

[2021-07-28 17:26] terichadbourne commented on #73
@johndmulhausen Just removed your assignment here for the sake of making it available to whoever's available first after our P0-P2s, but if you're actively working on it feel free to add your face back and move to in progress.

[2021-07-28 17:27] #95 closed

[2021-07-28 17:33] jessicaschilling commented on #63
@yusefnapora @terichadbourne Sorry I can't provide more info on this. I was taking notes during the test sessions, so screen shares got a bit small for me to totally grok.

[2021-07-28 17:40] jessicaschilling commented on #91
Confirmed added as a domain property in Search Console:
![image](https://user-images.githubusercontent.com/1507828/127370412-aac36895-10d6-45ec-99e6-f1c43661cd31.png)
This should cover both the main and docs sites, since subdomains are included, but it'll be a few days before crawler data starts coming in. Closing this issue.

[2021-07-28 17:40] #91 closed

[2021-07-28 17:42] jessicaschilling commented on #80
Pinged @ericronne and Martin to see what the latest is with this.

[2021-07-28 17:48] terichadbourne commented on #63
Yusef is unable to reproduce and won't have time to address this today. Unassigning.

@atopal  please let us know if you or Tommy can reproduce the error and document the steps leading up to it.

[2021-07-28 17:52] #74 closed

[2021-07-28 17:53] #80 closed

[2021-07-28 18:29] #86 closed

[2021-07-28 18:30] jessicaschilling commented on #72
@terichadbourne @johnnymatthews I'll take this.

[2021-07-28 19:08] #72 closed

[2021-07-28 19:12] jessicaschilling commented on #73
@terichadbourne I'll add a few more mentions of "free".

[2021-07-28 20:20] jessicaschilling commented on #77
This is out for (hopefully) final review in https://github.com/ipfs/ipfs-docs/pull/847 after a few rounds of revisions.

[2021-07-28 20:29] jessicaschilling commented on #77
Per https://github.com/ipfs/ipfs-docs/pull/847#issuecomment-888598995 this should be OK to merge in the morning (North America) July 29. @terichadbourne, can you please push the button when you are ready?

[2021-07-28 20:54] johnnymatthews commented on #82
I haven't actually followed through these pages code-wise. Dunno if I qualify as a JS dev though, but I'll give it a shot.

[2021-07-28 20:59] jessicaschilling commented on #73
https://github.com/web3-storage/docs/pull/108 should take care of this.

[2021-07-28 21:02] #73 closed

[2021-07-28 21:03] atopal opened #118 "Link to Discord instead of Slack"
On the support page we ask people to join our Slack, but pretty much every other project in this space links to their Discord server. It doesn't really matter to us, since the Slack and Discord channels are linked, but might lower barriers for users.

[2021-07-28 23:37] johnnymatthews commented on #78
The only task I haven't completed is:

Mainly because the homepage for this site is not a good place to have callouts.

[2021-07-29 08:38] alanshaw opened #109 "Link colour in footer"
Ouch my eyes! Can it be dark blue?

<img width="1279" alt="Screenshot 2021-07-29 at 09 35 49" src="https://user-images.githubusercontent.com/152863/127460262-6b0c8ff1-5749-409e-b3a2-458e7199554d.png">

[2021-07-29 09:10] zebateira commented on #109
Should be. In what browser are you seeing this? Can't reproduce.

[2021-07-29 10:04] alanshaw commented on #109
Firefox, and same in Chrome for me...

[2021-07-29 10:14] zebateira commented on #109
Weird, it could be related to the regional cache issue in fleek. I'll talk to the team.

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/2353186/127474127-ff21325e-3234-4d86-938f-0052cc635d21.png">

[2021-07-29 10:15] zebateira commented on #109
@alanshaw could you inspect it for me since I can't debug? can you check what are the css rules of color being applied to those anchors?

[2021-07-29 10:17] alanshaw commented on #109
<img width="1277" alt="Screenshot 2021-07-29 at 11 16 50" src="https://user-images.githubusercontent.com/152863/127475044-4042d63b-6894-4f36-a58f-f1c2f434129d.png">

[2021-07-29 10:19] zebateira commented on #109
ooooh you have dark mode on! Forgot about that. On it!

[2021-07-29 10:32] #109 closed

[2021-07-29 11:49] atopal commented on #63
I'll ask Tom to comment.

[2021-07-29 11:59] thattommyhall commented on #63
suspect I had `node_modules` in the folder, works ok for me with the files I wanted to try with in a seperate folder

[2021-07-29 12:04] atopal commented on #63
Thank you very much @thattommyhall! Closing for now.

[2021-07-29 12:04] #63 closed

[2021-07-29 13:24] #71 closed

[2021-07-29 13:33] #77 closed

[2021-07-29 14:10] terichadbourne opened #112 "How to: client.list"
Add a how to section for the new client.list method.

The new `client.list` method was added in [this PR](https://github.com/web3-storage/web3.storage/pull/198). It uses the `GET /user/uploads` http endpoint under the hood. Oli updated the browser demo code to use it too, [here](https://github.com/web3-storage/web3.storage/pull/222).

Acceptance criteria:
- [x]  There's a how to page for client.li

[2021-07-29 14:13] terichadbourne opened #113 "JS Reference: client.list"
Add the new client.list method to our reference docs.

The new client.list method was added in [this PR](https://github.com/web3-storage/web3.storage/pull/198). It uses the `GET /user/uploads` http endpoint under the hood. Oli updated the browser demo code to use it too, [here](https://github.com/web3-storage/web3.storage/pull/222).

## Acceptance Criteria

- [ ]  client.list method for JS library

[2021-07-29 14:39] jessicaschilling commented on #69
Currently checking all links in the docs site to make sure they work as intended.

[2021-07-29 15:06] jessicaschilling commented on #69
Merging some minor link fixes in https://github.com/web3-storage/docs/pull/114 will close this issue.

[2021-07-29 15:08] jessicaschilling commented on #83
@zebateira Looks like we are OK to close this? Can you please do so if that's true? 🙏

[2021-07-29 15:09] johnnymatthews commented on #82
Some suggestions:

## Store

- There isn't an example of how to create a data buffer of a file. Adding something like this under the **Preparing files for upload** section might mitigate super-noobs from getting stuck:

[code]

## Retrieve

- The user needs to install the client before they can retrieve anything:

[code]

- The `The Web3Response object` section returns an error for me:

[code]

[2021-07-29 15:14] terichadbourne commented on #82
@yusefnapora Do you have a sec to take a look at @johnnymatthews's notes above?

[2021-07-29 15:32] johnnymatthews commented on #82
I can tackle the **Retrieve** notes by adding in the install bit and ripping out the section that's giving me an error. I'm not sure what to do with the **Store** section (the code I've put up there doesn't actually create a data buffer for the image).

[2021-07-29 16:11] jessicaschilling commented on #83
Ah, sorry - I thought that was taken care of. My bad.

[2021-07-29 16:20] #69 closed

[2021-07-29 16:55] yusefnapora commented on #82
@johnnymatthews did you try this bit?

[code]

It should hopefully make a file with the contents `{"hello":"world"}` - it's kind of hidden at the bottom of the node tab on "preparing your files".

[2021-07-29 16:56] yusefnapora commented on #82
hmm, that should probably have a `return files` at the end.

[2021-07-29 20:52] terichadbourne commented on #83
Final item on this is getting https://github.com/web3-storage/web3.storage/pull/126 merge after a review from @rafaelramalho19. Have confirmation from Oli that it's okay to delay the analytics until tomorrow.

[2021-07-29 22:43] terichadbourne commented on #78
Now done in a new PR: https://github.com/filecoin-project/filecoin-docs/pull/986

[2021-07-29 22:43] #78 closed

[2021-07-30 13:49] #83 closed

[2021-07-30 13:56] #82 closed

[2021-07-30 15:58] jessicaschilling commented on #118
Fixed in https://github.com/web3-storage/docs/pull/119.

[2021-08-02 02:08] dchoi27 opened #124 "Add example of adding directory to docs example"
![image.png](https://images.zenhubusercontent.com/5fa04bd64afb77249c77235b/0451bda1-e606-4c34-96ea-b8d31ee173ef)

Would consider using `wrapWithDirectory: false` in `put()` call so directory doesn't get wrapped in another directory.

[2021-08-02 02:10] dchoi27 opened #125 "Document wrapWithDirectory option in client.put()"
[Parameters](https://docs.web3.storage/reference/client-library/#store-files) currently listed for `put()` in the JS client library looks like:
![image.png](https://images.zenhubusercontent.com/5fa04bd64afb77249c77235b/b9e2ac7a-3b5c-4b34-9eca-0d1f2c26da9d)

The `wrapWithDirectory` option is missing: https://github.com/web3-storage/web3.storage/blob/6029f5af65c843b0aca951745ef8fcde4eea268c/packages

[2021-08-02 12:30] atopal opened #126 "[PAGE ISSUE] add how-to for uploading files vs folders"
Currently every file added via the client library add a folder for the file, we should also have sample code to add a folder. This came up in the support channels.

[2021-08-02 13:38] atopal commented on #126
Never mind, was reported already: https://github.com/web3-storage/docs/issues/124

[2021-08-02 13:38] #126 closed

[2021-08-02 13:47] atopal opened #127 "Call our minimum requirements for client library"
We should call out requirements for the client library on the landing page of the reference: https://docs.web3.storage/reference/client-library/

We may also want to call out some requirements for common environments, eg webpack. see: https://github.com/web3-storage/web3.storage/issues/260

[2021-08-02 14:15] #118 closed

[2021-08-02 15:55] dchoi27 opened #128 "Document JS utilities library"
We use the JS files-from-path library in the docs quickstart, but don't document it anywhere else. We should probably at least document [files-from-path](https://github.com/web3-storage/files-from-path) and [ipfs-car](https://github.com/web3-storage/ipfs-car), or at least link out to the READMEs on Github.

[2021-08-02 16:07] jessicaschilling commented on #62
Made another request to the Algolia team to discuss open-source licensing. Email is from me, and will note any reply I receive in this issue.

[2021-08-02 16:30] atopal opened #129 "Menu is longer than page content"
Under some circumstances, the menu is longer than the main content area:

![Screenshot 2021-08-02 at 17 23 45](https://user-images.githubusercontent.com/557852/127893939-b6f1ae63-6b46-474b-a224-3bd90e5a8b68.png)

[2021-08-02 16:36] terichadbourne opened #130 "Link from docs to folder of examples in main repo"
@alanshaw could you please add the URL where you've put some examples that work in various frameworks, etc.?

[2021-08-02 16:50] jessicaschilling commented on #129
@terichadbourne Is this the sort of CSS issue you might be interested in troubleshooting in Ze's absence? No worries if not, just think you might be a lot quicker than me 😊

[2021-08-02 17:55] atopal opened #131 "User testing pre-work for MVP launch"
Continuation of https://www.notion.so/protocollabs/d41b443683824f00b1c68161a49f7381?v=09e68a2deed7464baa95e8d4ba76f0cb&p=fd7b95b6e40542018c26915af108af02

Acceptance Criteria:
- [ ] User interview plan agreed on
- [ ] Recruiting set up for post MVP launch
- [ ] Conversation guides ready
- [ ] Screeners ready

[2021-08-02 19:44] yusefnapora commented on #128
There's a mention of files-from-path in the [store howto](https://docs.web3.storage/how-tos/store/#node.js), but I don't think we call out ipfs-car anywhere.

[2021-08-02 20:12] dchoi27 commented on #128
Thanks for the link. Maybe a page in the Reference section for links to the various utilities libraries? Or a line at the top of the JS client library reference?

[2021-08-02 21:14] jessicaschilling commented on #129
@terichadbourne - there's a fix in https://github.com/web3-storage/docs/pull/134 but it feels a bit hacky. Can you please take a look and see if you have any better thoughts (or merge if you feel it's acceptable)?

[2021-08-03 16:05] johndmulhausen commented on #113
Done!

[2021-08-03 16:05] #113 closed

[2021-08-03 16:42] dchoi27 opened #136 "Add HTTP API to reference section of docs"
Know this has been floating around in conversations, but didn't see an issue for this yet. We should document the HTTP API as soon as possible to give developers flexibility in how they use web3.storage. Previously it sounded like the API might be changing a bit, but @alanshaw mentioned at this point it's not going to change drastically anytime soon - the main thing is creating the Open API schema

[2021-08-03 20:11] #112 closed

[2021-08-03 20:13] #124 closed

[2021-08-04 02:44] xzsean opened #137 "Im rookie for coding"
I only can use pthon flask for web, even I dont know how to write js properly. Is there pthon packge for web3storage?

[2021-08-04 10:17] atopal commented on #137
Not yet, but you can use the HTTP API that we are in the process of documenting. If you don't wait for that to be available, the nft.storage API is somewhat similar and is documented here: https://nft.storage/api-docs/

[2021-08-04 16:42] jessicaschilling commented on #137
You can also just use the web interface at Web3.Storage directly to achieve a number of common tasks (upload, view, see some basic info) in the meantime. Instructions for that are explained in their relevant pages on docs.web3.storage.

You can track the progress of adding HTTP API documentation here: https://github.com/web3-storage/docs/issues/136

Thanks!

[2021-08-04 16:43] jessicaschilling commented on #131
@terichadbourne - noting that you moved this to Done, just noting that this doesn't actually close the issue - sorry!

[2021-08-04 16:43] #131 closed

[2021-08-05 15:08] terichadbourne commented on #136
Copying over some details from our Notion board as we transition to GitHub. This issue to get the HTTP API docs onto our docs site is blocked by web3-storage/web3.storage#145 which @johndmulhausen is already working on.

## Acceptance Criteria

- Every method for the HTTP API is included
- Each method includes a description of parameters and output
- A real-world example (showing some data passed

[2021-08-05 15:16] terichadbourne opened #139 "Document cool new web client features (TBC)"
_Moving over from Notion board_

@jnthnvctr flagged this to us as a potential post-M1 task a while back, and it can likely be better defined now.  Are there any new fancy schmancy features in the web UI that aren't self-explanatory and which we need to describe in docs?

[2021-08-05 15:18] johnnymatthews commented on #127
Requirements I've found:

- [ ] Webpack 5
- [ ] Node 14 or higher
- [ ] NPM 7 or higher

[2021-08-05 15:19] terichadbourne opened #140 "Add tutorial for image gallery sample app"
Blocked by creation of the image gallery sample app #85

Acceptance Criteria:
- [x] Text that walks through how to build the app
- [x] Call outs for things that interact with web3.storage
- [x] Call out for things that would need to be built differently in production (specifically state management)
- [ ] One person has walked through it and has given feedback (ping Johnny)
- [x] Has to include at

[2021-08-05 15:22] terichadbourne opened #141 "Create additional sample apps"
Placeholder issue for brainstorming ideas for additional sample apps we can focus on after our image gallery app #85

Please see this Notion doc for brainstorming https://www.notion.so/protocollabs/Tutorial-Example-Ideas-f2a0f15a93a241b8be63f55197d7a931#e64adfefea754379b0e464fcbaa01b66

## Requirements

- Meets the needs of our [target user](https://www.notion.so/Nitro-M1-8bfa671d60974ac2bfd3d3ed8

[2021-08-05 15:24] terichadbourne opened #142 "DevRel: 1-hour code-along to accompany tutorial / sample app"
Blocked by building our first sample app #85

[2021-08-05 15:27] terichadbourne opened #143 "DevRel: 30-min deck on web3.storage"
@yusefnapora We had a card in Notion to build a 30-min talk with a reusable slide deck for Web3.Storage. Checking in to see how already reusable your talk ended up being or whether we should define more clear requirements her and consider this an open issue.

[2021-08-05 15:31] terichadbourne opened #145 "Reference: M2 Brilliant idea braindump"
Just dropping in a link to our brainstorming doc for M2 until I have a chance to separate everything there out into issues: https://www.notion.so/protocollabs/Brilliant-idea-braindump-save-for-later-323294b2d3674dd69937b8a3ff46bbd8

[2021-08-05 15:48] terichadbourne opened #146 "Document putCar - allowing users to store CARs not just normal files"
Blocked by implementation of this new `putCar` method which allows users to upload CAR files rather than just "normal" files:  https://github.com/web3-storage/web3.storage/pull/293

Should re-assess when we start, but assume this will need:
- [ ] Add putCar to reference docs
- [ ] Add a detailed section to How To (should we split Store in 2? would you retrieve any differently?
- [ ] Add a quick me

[2021-08-05 15:57] terichadbourne opened #147 "Show off community projects using web3.storage"
_From DAO M2 brainstorming_

Create some kind of user showcase, where we can list some cool/interesting stuff that folks have made using web3.storage.

If we wait until after ~Aug 10 we can fork the depersonalized ecosystem directory

Related: Highlight cool community activities / uses out in the wild - offer contest for the coolest one?

[2021-08-05 16:00] terichadbourne opened #148 "Add video content to docs"
_From DAO M2 brainstorming_

Add awesome video content for folks who don't like reading

@johnnymatthews I think this suggestion may have come from you. Want to add any more details on the types of content you envisioned?

[2021-08-05 16:14] terichadbourne opened #149 "Explore presentation format for multi-language client libraries"
_From M2 DAO brainstorming_

If the API is OpenAPI compliant, we should get ahead of the issue of multi-language client libraries and how that works with a system like Redoc. (e.g. how do we present samples for multiple languages)
(you can delete this section after reading)

This needs further discussion, as I'm not sure which languages we expect to exist and how similar the methods will be across

[2021-08-05 16:20] terichadbourne commented on #141
Ideally we'd present in multiple formats, such as a clone-able GitHub repo and a CodePen (if we can figure out how to best handle token auth there.

[2021-08-05 16:24] terichadbourne opened #150 "Improve discoverability of Web3.Storage"
Make substantial edits to docs.filecoin.io (and possibly Filecoin.io) to help the right kinds of users find the appropriate resources for them. I think at this point the core audiences would be :
- app developers (pushed to services such as Web3.Storage rather than Lotus CLI docs)
- aggregators
- storage providers

This would require assistance from the PMs with positioning/messaging and intended

[2021-08-05 17:49] #125 closed

[2021-08-06 12:20] johnnymatthews commented on #148
In my head, I was thinking of mainly supplemental videos. So, there wouldn't be any _new_ information hidden within then; they'd just cover the information on the page that they're listed. This would work for both conceptual pages like Content addressing, and in tutorials like the Quickstart.

The Hugo docs do a good job of this: https://gohugo.io/templates/homepage/

[2021-08-06 12:26] jessicaschilling commented on #148
without too much additional support from the video team. If it’s useful I’d
be happy to narrate.

--
Jessica Schilling (she/her)
Protocol Labs
Usual time zone: UTC-6 (Colorado, USA)

[2021-08-06 12:54] atopal commented on #148
Great idea! The video team has recently done something similar with Jimmy and Estuary.

[2021-08-06 12:56] #129 closed

[2021-08-06 12:58] atopal commented on #127
Apparently there is a way to use webpack 4:

<img width="906" alt="Bildschirmfoto 2021-08-06 um 14 58 18" src="https://user-images.githubusercontent.com/557852/128513831-38bd0582-5a2b-4336-b2c3-1554c4672a9e.png">

[2021-08-06 13:11] johnnymatthews commented on #127
Oh no! Now we have to decide whether we want to _officially_ support Webpack 4, and plaster this workaround all throughout the docs. _Or_, just advise that folks use Webpack 5.

I advise the latter.

[2021-08-06 13:46] atopal commented on #127
It's sometimes not up to people. Create-react-app doesn't work with webpack 5 yet, same goes for Ceramic. Ideally, we'd actually support webpack 4, at least until most projects support webpack 5, but in the mean time, we should let people know about the workaround.

[2021-08-06 14:59] terichadbourne commented on #136
Note the 2 presentation options now proposed by @johndmulhausen in #151 (option 1) and #152 (option 2).

[2021-08-06 15:52] yusefnapora commented on #127
Maybe we should start a Troubleshooting page and put the alternate import syntax there. Then the requirements box could say "use webpack 5 plz" but have a callout that says "stuck on webpack 4? click here" or something. So we don't have to sprinkle the workaround everywhere but people can find it if they need it.

[2021-08-06 15:55] jessicaschilling commented on #127
+1 for the troubleshooting page, that’s an expected user pattern.

On Fri, Aug 6, 2021 at 9:53 AM, Yusef Napora ***@***.***>
wrote:

--
Jessica Schilling (she/her)
Protocol Labs
Usual time zone: UTC-6 (Colorado, USA)

[2021-08-09 13:38] johnnymatthews commented on #130
[There's this folder here in web3-storage/web3-storage](https://github.com/web3-storage/web3.storage/tree/main/packages/client/examples). Is that the one you were thinking off @terichadbourne ?

[2021-08-09 14:22] johnnymatthews opened #153 "Add a Troubleshooting page for common issues/suggestion"
A [comment in another issue](https://github.com/web3-storage/docs/issues/127#issuecomment-894353098) raised the idea of having a troubleshooting page to help users figure out why stuff is going wrong.

It'd be nice to have a braindump in here for common problems users are running into with Web3.Storage.

## Problems

- We'd like all users to run Webpack 5, but some devs are forced into using Webpa

[2021-08-09 14:22] johnnymatthews commented on #127
Nice. I created issue #153 to cover the troubleshooting page.

[2021-08-09 15:27] yusefnapora opened #154 "Document `?filename` gateway query param in retrieval how-to"
https://github.com/web3-storage/web3.storage/issues/325 reminded me that you can add a `?filename=name.ext` to an IPFS gateway URL so that the file gets downloaded using that filename. We should mention that in the retrieval how-to in the gateway section.

[2021-08-10 02:31] thewtex opened #155 "How to generate the same CID for a file using Go-IPFS."
Hello :wave: ,

I am looking for documentation on how to generate the same CID via go-ipfs command line, e.g.

[code]

possibly in the [Store How-To](https://docs.web3.storage/how-tos/store), so folks can pin with the same CID on services in addition to web.storage.

[2021-08-10 16:33] atopal commented on #62
We got a positive response.

[2021-08-10 16:35] johnnymatthews commented on #62
We've got an Application ID and API Token now, so we can add this in.

[2021-08-10 16:44] atopal commented on #155
Should maybe go into the troubleshooting section

[2021-08-10 16:47] atopal commented on #154
Should also go into troubleshooting, because most people will not upload files directly, instead they will use the JS client library that will wrap their file in a folder. Mention this in retrieval too.

[2021-08-10 19:55] #153 closed

[2021-08-16 16:19] #127 closed

[2021-08-16 21:37] thewtex commented on #155
From experimentation, this seems to work:

[code]

Is there a flag that corresponds to `maxChildrenPerNode` here:

https://github.com/web3-storage/web3.storage/blob/3f6b6d38de796e4758f1dffffe8cde948d2bb4ac/packages/client/src/lib.js#L113

?

[2021-08-17 15:40] johndmulhausen commented on #146
Self-assigning because I'm gonna dive into the Client JS Ref portion of this; @yusefnapora and @johnnymatthews can feel free to assign for the Getting Started/How-To portions

[2021-08-17 15:48] #85 closed

[2021-08-17 15:52] atopal commented on #146
Adding Yusef for how-to and Johnny for getting started.

[2021-08-17 15:53] atopal commented on #130
That's the folder indeed

[2021-08-18 16:41] johnnymatthews commented on #146
Quick though: a user running through the Quickstart would only care about `putCar` if they're using the HTTP API, no? Otherwise, they'd just use the JS library which car-ifies things for you.

[2021-08-18 19:52] terichadbourne commented on #146
My impression is that it’s for people who already have CAR files to upload
them through the JS client. No point redoing the work of CARifying if you
already have a CAR file. But you may want to ask Alan or Oli how frequently
it’s likely to be used; I’d guess it’s not worth going into detail in the
quickstart.

On Wed, Aug 18, 2021 at 12:41 PM Johnny ***@***.***> wrote:

--
*Teri Chadbourne*
Projec

[2021-08-18 19:57] momack2 commented on #146
The putCAR feature is to enable application developers to work directly with IPLD dags of data seamlessly (instead of having to externalize their data into "files") - so the documentation "user" here may or may not already have a CAR file, but they **_do_** already have IPLD application data. IMHO - docs should include how to connect the IPFS CAR interface with the web3.storage CAR interface to en

[2021-08-18 20:01] #146 closed

[2021-08-18 20:46] mikeal commented on #146
* Probably want to reference `ipfs dag export` for CAR file generation https://docs.ipfs.io/reference/cli/#ipfs-dag-export
* Also our latest `ipfs-car` utility for encoding files straight to DAGs in a CAR file https://github.com/web3-storage/ipfs-car
* Also specs for v1 and v2 of CAR https://ipld.io/specs/transport/car/

[2021-08-20 16:31] #130 closed

[2021-08-20 23:28] johnnymatthews commented on #155
This would be super useful to add into the Troubleshooting section, but I'm getting different results to @thewtex:

I uploaded `pop-os_21.04_amd64_nvidia_7.iso` to Web3.Storage and got this CID back: `bafybeifdlpkkbyebtplmig4epkpcw363zp72kmzxgd6a6d6jkbn2berube`.

Then I ran the `ipfs add [...]` command suggested by @thewtex above, but got a different CID back:

[code]

Might need an IPFS/Web3.Stor

[2021-08-23 16:38] #136 closed

[2021-08-26 18:37] yusefnapora opened #168 "Add info about DDOS / spam mitigation to the docs"
Prompted by a discussion in `#web3-storage` Filecoin slack:

<img width="747" alt="Screen Shot 2021-08-26 at 2 33 33 PM" src="https://user-images.githubusercontent.com/678715/131017597-aa4fb5cb-08c9-42ba-9613-d14091e765ff.png">

This issue is just to track the technical end - we can track the "how is it free" issue separately.

[2021-08-26 18:41] yusefnapora opened #169 "Explain "how is this free""
Related to the discussion mentioned in #168, a lot of users and potential users are likely to wonder how the service can manage to be free.

We should explain the high-level premise of Filecoin+ / DataCap leading to greater block rewards and how that makes free long-term storage viable. Will likely need input on the exact messaging, etc to use here.

[2021-08-30 16:38] yusefnapora opened #172 "Deploy to Web3.Storage"
Since we started building the docs site before Web3.Storage existed, we setup CI with Fleek for build previews and deploys to production on PR merges. Let's use our thing instead!

Here's the GitHub Action for deploying things: https://github.com/web3-storage/add-to-web3

And [a workflow](https://github.com/web3-storage/web3.storage/blob/main/.github/workflows/website.yml) for reference.

[2021-08-31 18:00] yusefnapora opened #175 "Add CAR splitting to "working with CARs" how-to"
We should add a section to the CAR how-to to teach people how to split large CARs into chunks that will fit in the HTTP API's size limit.

To do:

- [ ] link to [carbites](https://github.com/nftstorage/carbites) and [go-carbites](https://github.com/alanshaw/go-carbites)
- [ ] JS example snippet
- [ ] Go example snippet
- [ ] carbites cli example

Bonus points if the examples show uploading the spl

[2021-09-02 17:37] #154 closed

[2021-09-02 17:37] #128 closed

[2021-09-02 17:38] #140 closed

[2021-09-02 20:30] yusefnapora opened #179 "simplify dag-cbor example"
As alan pointed out in https://github.com/web3-storage/web3.storage/pull/427, the `makeCar` helper isn't needed - we can just make a `CarReader` directly from our input blocks.

This is just an issue to track pulling in that change in the example code here.

[2021-09-02 20:41] #179 closed

[2021-09-03 20:07] #139 closed

[2021-09-05 19:40] thewtex commented on #155
It appears that the sharding capabilities of js-ipfs and go-ipfs are not get on par according to https://github.com/ipfs/go-ipfs/issues/7022 . Also, `shardSplitThreshold` and `maxChildrenPerNode` are different options here: https://www.npmjs.com/package/ipfs-unixfs-importer

[2021-09-06 00:32] AugustoL commented on #155
Im having different file names here too. any update from the web3-storage team?

[2021-09-06 00:48] AugustoL commented on #155
If you download the file from IPFS using CID 0
[code]
Or using CID 1:
[code]

CID 0:
[code]

CID 1:
[code]

The same file is hosted with both CIDs, being able to be pass from CID 0 to 1. The name of the file matters, not only the content.

Can you confirm? :eyes:

[2021-09-08 16:54] yusefnapora opened #181 "port docs to docusaurus"
This issue tracks converting the docs site from Vuepress to Docusaurus.

### Motivation

We'd like to more easily share components between the main web3.storage site and the docs site. Since Docusaurus is implemented in React, this will be much easier than in Vuepress.

### To do

- [ ] start a new docusaurus project
- [ ] port our content to use different code snippet & tabs syntax
- [ ] style si

[2021-09-08 20:59] yusefnapora commented on #181
Here's what I got today:
https://bafybeic5dexmold62enp2c6s3odm7u3tx6o25f7gu2nyvchsoqadcgtyq4.ipfs.dweb.link/

Still needs some styling love, but it's a lot closer to the current aesthetic than the default docusaurus theme :)

I'm working in https://github.com/yusefnapora/web3-storage-docusaurus for now, but will try seting it up on a branch of this repo tomorrow, replacing vuepress entirely.

[2021-09-13 15:55] yusefnapora opened #184 "content: advanced CID usage / alternate encodings"
Similar to https://github.com/ipfs-shipyard/nft.storage/issues/420, we may want to explain how to convert CIDs into alternate bases.

It may be less of a priority here if we assume that nft.storage users are more likely to be working within the constraints of existing smart contracts. That said, educating people about CIDs and how they work is a win for all :)

[2021-09-13 18:01] #62 closed

[2021-09-14 08:44] alanshaw opened #185 "[SUGGESTION] Add carbites to JS utility libraries section"
This is the library that's used to split CAR files into multiple chunks: https://github.com/nftstorage/carbites

There's also a CLI tool: https://github.com/nftstorage/carbites-cli/

...and a golang implementation: https://github.com/alanshaw/go-carbites

[2021-09-17 16:37] yusefnapora opened #191 "Document go client"
[go-w3s-client](https://github.com/web3-storage/go-w3s-client) is here 🎉 !

We should work it into the docs site. Ideally, we can pull it into all the How-to's as an alternative to JavaScript. That might need a little thinking about how to best present the alternatives though, so perhaps we should track that in a follow-on issue and focus on just telling people it exists first 😄

As a first pass,

[2021-09-17 16:39] yusefnapora commented on #149
Reopening this now that #191 is on the table :)

[2021-09-20 15:48] atopal commented on #181
Yusef, do you have a more recent build, I could check out?

[2021-09-20 15:50] yusefnapora commented on #181
@atopal here's the latest one: https://bafybeih3okxv46g5wz6osjzmayvbdu56aqbalx44drcxojsr4hbrdv4uqa.ipfs.dweb.link/

You can also find build previews if you click the green checkmarks on the PR page.

[2021-09-20 16:17] #169 closed

[2021-09-22 17:10] #175 closed

[2021-09-24 11:22] atopal opened #193 "[SUGGESTION] explain how to use the HTTP for car files larger than 100MB"
We currently don't provide much support around how to use the HTTP for larger files, we should have some more docs around that.

[2021-09-24 15:17] atopal commented on #193
already addressed.

[2021-09-24 15:17] #193 closed

[2021-09-27 15:26] yusefnapora opened #194 "setup staging deployment"
We should have a staging domain for the docs site, so that we can deploy major changes like #183 without breaking the production site :)

We need:

- [ ] a `docs-staging.web3.storage` domain
- [ ] either a cloudflare pages setup, or cloudflare dnslink to point to a build in IPFS

I'd prefer cloudflare pages, since I kind of want to switch to that for production deploys as well...

cc @olizilla

[2021-09-27 15:52] olizilla commented on #194
hmm, this is reasonable, but I think we should just lean on the per PR preview urls for the docs site. It's a bit of a faff to set up a prod and staging domains on cloudflare pages. We can manually set up docs-staging.web3.storage in dns to point to a particular PR branch if we want to share it with a more useful name.

in general let's go for cloudflare pages for http hosting and web3.storage for

[2021-09-27 15:57] olizilla commented on #194
so, i'll set up clouflare pages for this repo, using main as the "production" branch. Hopefully it will also build a preview out for #183 (i think it does so for all open PRs at time of enabling)

once it creates a preview for #183 i'll set that as `docs-staging.web3.storage` in the dns manually... we drop that once we're through the switch over, and bring it back as need in the future.

we also n

[2021-09-27 22:04] olizilla commented on #194
Pages build from `main`. https://030fc2fa.docs-web3-storage.pages.dev/

Looks like you'll have to nudge #183 with a change to get it picked up by the CloudFlare Pages machine.

[2021-09-28 13:05] atopal opened #195 "Total storage is miscalculated"
At least one user is seeing the wrong amount displayed on the website.
![Screenshot_20210928-182835](https://user-images.githubusercontent.com/557852/135092475-6084b05c-30f8-4330-9a1e-db053ff0e730.jpg)

[2021-09-28 13:08] olizilla commented on #195
@atopal this should be on the https://github.com/web3-storage/web3.storage repo

[2021-10-27 14:45] ramonck opened #203 "Update a file"
Hi,

How can I use the API to update a file in web3 storage?

Thanks, great work!

[2021-10-29 18:44] gitaaron opened #205 "Recommend make usage limit more apparent"
One small piece of feed back - I would make the following line more apparent.  From my vantage point (a perspective user) the homepage / getting started docs make it seem like you are offering free energy which made me skeptical.  So I dug into the TOS and was glad to see this.  Which still kind of makes me feel skeptical because it seems well above any other cloud provider's free usage limit and

[2021-10-29 21:02] #205 closed

[2021-10-29 21:03] gitaaron commented on #205
My bad its in 'about'.

[2021-11-02 20:40] yusefnapora opened #206 "update go carbites examples with new api"
Just opening this to track the changes in https://github.com/alanshaw/go-carbites/pull/1 so I remember to update the examples in the CAR file how-to once it merges.

[2021-11-04 22:04] #149 closed

[2021-11-08 17:11] atopal commented on #203
Updating files is not possible as it would change the CID, please delete and upload a new file.

[2021-11-08 17:11] #203 closed

[2021-11-09 13:43] atopal opened #207 "Missing Analytics for docs"
We are missing analytics in countly for docs since Octobe 26. Maybe related to docosaurus switch?

[2021-11-10 20:08] beitmenotyou1 opened #208 "[CONTENT REQUEST] (Sharing content)"
I am a video editor, photographer and soon to be web/app designer, at the moment I am using opendrive for storing my staff and sharing things between clients

This is done by sharing an address with them that they can upload there stuff to that is stored on my drive and synced to my computer for me to edit for them

my suggestion is to add a similar thing where I can send them a link or IPFS proto

[2021-11-12 01:25] thewtex commented on #155
With `jsipfs` we are closer with:

[code]

But for larger datasets, we likely want the same `maxChildrenPerNode`.

[2021-11-12 14:56] atopal commented on #208
Hey there, while we are working on signed uploads, I don't think we'd want unauthorized people people upload unknown date. You might benefit from a product on top of web3.storage, maybe something like https://www.sliksafe.com ?

[2021-11-12 14:56] #208 closed

[2021-11-15 18:41] #207 closed

[2021-11-18 18:05] dchoi27 opened #211 "Retrieve method in JS docs has typo"
Both tabs under "Return value" say "Using" https://docs.web3.storage/reference/js-client-library#return-value-1

![image.png](https://images.zenhubusercontent.com/5fa04bd64afb77249c77235b/f3b0957c-aee8-4b48-a85f-f8c6f961caeb)

[2021-11-24 14:04] atopal opened #212 "Make it easy to move from web3.storage to an alternative storage provider"
As a potential web3.storage user I need to see simple instructions that would allow me to move to a different storage provider, so I'll know that I won't be locked into web3.storage.

Acceptance Criteria:
- [ ] A how-to that takes the current dApp example and walks through the changes that would be necessary to switch to Pinata
- [ ] A script that can do most of the work to rewrite a code base to

[2021-11-24 16:51] atopal commented on #168
now handled in #269

[2021-11-24 16:51] #168 closed

[2021-11-30 18:10] #211 closed

[2021-12-06 14:18] #206 closed

[2021-12-07 07:59] cheehau opened #217 "store to the same cid"
is it possible to add new file to the same cid?

thanks

[2021-12-08 20:49] dchoi27 commented on #217
Hey there, it's not (this is a feature of IPFS - making immutable links to data). However, we just released an experimental feature for mutable records on Web3.Storage. You can check it out here: https://github.com/alanshaw/w3name

Feedback is appreciated!

[2021-12-10 15:18] dchoi27 commented on #217
Hey! If ^ is of interest to you, this is probably a better place to get started: https://github.com/web3-storage/web3.storage/tree/main/packages/client#mutability

[2021-12-16 01:17] dchoi27 commented on #217
Closing for now, let us know if you have any questions

[2021-12-16 01:17] #217 closed

[2021-12-16 15:38] thewtex commented on #155
A related note, [the go-ipfs 0.11.0 improved HAMT-sharding support](https://github.com/ipfs/go-ipfs/releases/tag/v0.11.0).

[2021-12-23 14:54] vasco-santos opened #218 "Add API endpoint to docs page"
We do not mention the API endpoint in https://docs.web3.storage/reference/http-api/ and we should.

[2021-12-28 19:22] AllanOricil opened #219 "429 Too Many Requests"
Im getting Status Code 429 - Too Many Requests

What is the limit per second you have on your API?

[code]

How can I fix it? Any suggestions? Im diving my files into pieces of 5Mb.

[2021-12-28 19:39] AllanOricil commented on #219
I fixed it using axios-rate-limit
Here is the code if you are interested

[code]

Then use this axios instance to run your requests inside a Promise.all

[2021-12-28 19:39] #219 closed

[2022-01-10 23:59] dchoi27 commented on #147
Closing for now, can revisit with broader growth strategy later

[2022-01-10 23:59] #147 closed

[2022-01-11 00:12] dchoi27 commented on #155
Hey, hopefully this issue gives some insight into why the CIDs might be different: https://github.com/web3-storage/ipfs-car/issues/76

We're looking into more efficient ways of creating CAR files for writing to Web3.Storage (e.g., streaming) - and part of this will be updating the docs to be clear about what's happening under the hood.

One question from your original post - are you not able to pi

[2022-01-14 17:44] thewtex commented on #155
@dchoi27 thanks for the information! Until that issue is addressed, it seems we should expect different CID's from Go-IPFS and JS-IPFS.

Yes, that is my current strategy -- I upload to Web3.Storage, then use that CID to pin on other providers. But, it would be helpful for data storage that is experimental or intended to be initially more temporary if this was not a requirement.

[2022-01-18 21:14] #218 closed

[2022-02-02 16:15] Nanaber opened #223 "[PAGE ISSUE] Welcome"

[2022-02-04 15:25] dchoi27 commented on #223
Please provide details on what's going on, otherwise closing for now!

[2022-02-04 15:25] #223 closed

[2022-03-05 10:12] Zepp61 opened #225 "Can you make something that is ready to use, just upload and extract"
I want on my website the possibility that users can directly upload files using your services. Can you make program that I just install on the server or on wordpress?

[2022-03-08 18:28] SgtPooki opened #226 "[PAGE ISSUE] `retrieveFiles` method contains type error"
The example code at https://docs.web3.storage/how-tos/retrieve#the-web3response-object, https://github.com/web3-storage/docs/blame/main/docs/how-tos/retrieve.md#L94, contains a type error:

![image](https://user-images.githubusercontent.com/1173416/157301124-bf19b03b-0992-42c3-8bf7-a5a861d8217c.png)

The types are as follows:

[code]

[2022-03-08 18:29] SgtPooki commented on #226
Versions:

[code]

[2022-03-11 03:27] gulprun opened #228 "[PAGE ISSUE] `The Getting Start Example` code won't work any more"
the example in the page https://docs.web3.storage/examples/getting-started to upload a file to web3 doesn't work any more as I tested:
`node put-files.js --token="your-token" ~/file.txt`

this .js example don't accept file name as a parameter, rather, (from the code) it only accept content from within memory, thus it won't support a general purpose as it's described.

[2022-03-15 22:22] yosun opened #229 "[PAGE ISSUE] Curl store example"
Why isn't there a framework-independent Curl example for store?

[2022-03-16 15:14] Zepp61 commented on #225
Thanks, How much as estimate, would this support work cost?, enabling me to use it as reference within open or micro grant program.

[2022-03-16 15:33] dchoi27 commented on #225
If you need to outsource it, the RFP process is your job to run and determine.

[2022-03-16 18:35] yosun opened #230 "[CONTENT REQUEST] https://docs.web3.storage/how-tos/pinning-services-api/"
It appears that pinning requires manual approval on your end, so this should be mentioned in the documentation, or pinning should be an included service (up to a certain test quota until manual approval).

[2022-03-16 18:35] #229 closed

[2022-03-17 13:32] Zepp61 commented on #225
I thought I share my solution or getting to the solution. I found https://docs.web3.storage/examples/image-gallery/ and that is exactly almost what I'm looking for! It addresses my Question: I want to make a general call for specific best videos, (sniper, longest shot, etc) on https://codered.club/ to be uploaded directly to my account! Happy camper here!

[2022-03-21 18:42] #155 closed

[2022-03-21 18:47] dchoi27 commented on #191
This is done!

[2022-03-21 18:47] #191 closed

[2022-03-28 15:20] #226 closed